* {
    box-sizing: border-box;
}

.App {
    border: 2vh solid maroon;
}

#headerSection {
    border: .5vh solid white;
    height: 15vh;
}

#content {
    border-top: 1vh solid maroon;
    border-bottom: 1vh solid maroon;
    height: 80vh;
}

#home {
    position: relative;
    height: 100%;
    display: flex;
}

#controls {
    border: .5vh solid white;
    background-color: maroon;
    padding: 1vh;
    color: white;
}

#controls * {
    width: 100%;
}

#cyWrapper {
    border-left: 1vh solid maroon;
    border-right: 1vh solid maroon;
    position: relative;
    height: 100%;
    width: 100%;
}

#cy {
    position: absolute;
    height: 100%;
    width: 100%;
}

#infoBox {
    border: .5vh solid white;
    background-color: maroon;
    padding: 1vh;
    color: white;
}